<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FarseerDuality" version="0.1.7" targetFramework="net45" />
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="OpenTK.Duality" version="0.1.31" targetFramework="net45" />
</packages>