<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdamsLair.WinForms" version="0.1.6" targetFramework="net45" />
  <package id="Aga.Controls" version="0.1.3" targetFramework="net45" />
  <package id="dockpanelsuite" version="0.1.1" targetFramework="net45" />
  <package id="OpenTK" version="1.1.1550.5715" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="1.1.1550.5715" targetFramework="net45" />
</packages>