<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdamsLair.WinForms" version="0.1.13" targetFramework="net45" />
  <package id="FarseerDuality" version="0.1.4" targetFramework="net45" />
  <package id="NVorbis" version="0.7.4" targetFramework="net45" />
  <package id="OpenTK" version="1.1.1550.5715" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="1.1.1550.5715" targetFramework="net45" />
</packages>