<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdamsLair.WinForms" version="0.1.14" targetFramework="net45" />
  <package id="FarseerDuality" version="0.1.7" targetFramework="net45" />
  <package id="lz4net" version="1.0.5.93" targetFramework="net45" />
  <package id="ManagedSquish" version="0.1.0.0" targetFramework="net45" />
  <package id="NVorbis" version="0.7.4" targetFramework="net45" />
  <package id="OpenTK.Duality" version="0.1.31" targetFramework="net45" />
  <package id="OpenTK.GLControl.Duality" version="0.1.31" targetFramework="net45" />
  <package id="SharpFont" version="3.0.1" targetFramework="net45" />
  <package id="SharpFont.Dependencies" version="2.6" targetFramework="net45" />
</packages>